.App {
  font-weight: 400;
  color: black;
}
.header {
  color: #34eb8c;

}
#head {
  margin-bottom: 50px;
  margin-top: 50px;
  color: #34eb8c;

}
.btnn {
  background-color: #34eb8c;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.label {
  font-size: 20px;
  font-weight: 700;
}
.row {
  margin-bottom: 15px;
  padding: 0;
    
}

.inp {
  border: 1px solid grey;
}

.mar {
  padding-left: 5px;
  padding-right: 5px;
}
