.header {
  color: #4eae6f;

}
#head {
  margin-bottom: 30px;
  margin-top: 50px;
  color: #4eae6f;

}
.btnn {
  background-color: #4eae6f;
  color: white;
  font-size: 1.2vw;
  font-weight: 600;
  float: right;
}

.label {
  font-size: 20px;
  font-weight: 700;
}
.row {
  margin-bottom: 15px;
  padding: 0;
    
}

.inp {
  border: 1px solid grey;
}

.mar {
  padding-left: 5px;
  padding-right: 5px;
}

.pd {
  padding-left: 3px;
}


