.result {
    border: 2px solid #0ceb1e;
    padding: 5px 0px 5px 0px;
}

h4 {
    font-weight: 700;
    color: black;
    font-size: 20px;
    padding-top: 5px;
}

.pad {
    padding-left: 0;
}

span {
    font-weight: 500;
}